@import 'tailwindcss';

/* @theme {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 0%, 100%);
}

.dark {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 67%, 44%);
} */